<main class="w-full text-terminal-window-100 bg-slate-50">
    <div class="flex flex-col justify-center items-center bg-hermit-light-blue">
        <div class="bg-[url('https://www.hermitplus.com/static/media/minecraft_full_bg.0e9ff1403ea12532acc2.jpg')] bg-cover bg-top bg-no-repeat w-full h-[550px] relative">
            <div class="w-full h-full z-10 bg-gradient-to-b from-transparent to-hermit-light-blue"></div>
            <div class="flex flex-col items-center justify-between top-5 w-full absolute z-20">
                <%= image_tag("https://www.hermitplus.com/static/media/HermitPlusBend.15a55a5b943048dca8b3.png", alt: "Hermit Logo") %>
            </div>
            
        </div>

    </div>
    <div class="flex items-center justify-center w-full bg-hermit-light-blue py-2">
        <div class="grid grid-cols-4 gap-2">
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/bDouble0S8E1thumb.49a814d250dfe43325da.webp", alt: "b dubs") %>
                </div>
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/cubFanS8E1thumb.0d3095afc3a43720b058.webp", alt: "cub fan") %>
                </div>
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/docm77S8E1thumb.406c2e9eaff63469d0b7.webp", alt: "doc m 77") %>
                </div>
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/ethoS8E1thumb.8b6603db7ca723787dd7.webp", alt: "etho") %>
                </div>
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/falseS8E1thumb.4b45cd0493aab06d5660.webp", alt: "false") %>
                </div>
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/geminiS8E1thumb.be2f521da26369aec7fc.webp", alt: "gemini") %>
                </div>
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/scarS8E1thumb.aa49175f49dff67b71cd.webp", alt: "scar") %>
                </div>
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/grianS8E1thumb.a0c77b7e12fd77e23cf7.webp", alt: "grian") %>
                </div>
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/hypnoS8E1thumb.15208383a26b21b9dc86.webp", alt: "hypno") %>
                </div>
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/jevinS8E1thumb.23d5e9e26086430b12b0.webp", alt: "jevin") %>
                </div>
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/impulseS8E1thumb.c3b2140e7257ecfc524e.webp", alt: "impulse") %>
                </div>
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/iskalS8E1thumb.d067b5e9c56b2690a1f1.webp", alt: "iskal") %>
                </div>
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/joeHillsS8E1thumb.baae1854c33eca80a70f.webp", alt: "joe hill") %>
                </div>
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/keralisS8E1thumb.30fd5f23e5490c80c4dc.webp", alt: "keralis") %>
                </div>
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/mumboS8E1thumb.189b02bbc1715a1ad931.webp", alt: "mumbo") %>
                </div>
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/pearlMoonS8E1thumb.7b4084ad44af4492637a.webp", alt: "pearl moon") %>
                </div>
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/rendogS8E1thumb.7d5a37ac0a9b0d663862.webp", alt: "rendog") %>
                </div>
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/stressS8E1thumb.721c2accb42c4f5caeb2.webp", alt: "stress") %>
                </div>
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/tangoS8E1thumb.56e42dd3f4d1e1b83943.webp", alt: "tango") %>
                </div>
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/tinS8E1thumb.b1ce0d78fa3a75abc7d7.webp", alt: "tin") %>
                </div>
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/welknightS8E1thumb.3363283e170726c026a4.webp", alt: "wells knight") %>
                </div>
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/xbS8E1thumb.614c7553c403a603f1cc.webp", alt: "xb craft") %>
                </div>
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/xisumaS8E1thumb.2935039b8e1245c49e22.webp", alt: "xisuma") %>
                </div>
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/zedaphS8E1thumb.03c71c9f057be0481e8f.webp", alt: "zedaph") %>
                </div>
                <div>
                    <%= image_tag("https://www.hermitplus.com/static/media/zombieS8E1thumb.8c2d71f9e8373ecac2a7.webp", alt: "zombie") %>
                </div>
            </div>
    </div>
</main>