<main class="flex flex-grow w-1/3 text-terminal-green">
  <!-- //? Hide 1st col on small screens -->
  <div class="hidden lg:flex flex-col justify-between w-1/3 p-4 sticky top-20 h-[calc(100vh-80px)]">
    <!-- //? Col one -->
    <div class="flex flex-col justify-between border-l-2 border-t-2 border-r-2 rounded-sm border-terminal-green">
      <div class="flex space-x-2 justify-between px-2">
        <p class="text-sm"><span class="font-bold">linux: </span>- ubuntu-22.04</p>
        <p class="text-sm"><span class="font-bold">device: </span>- MILK</p>
      </div>
      <div class="flex space-x-2 justify-between px-2">
        <p class="text-sm"><span class="font-bold">definition: </span>- Mason's Informational Little Kist</p>
        <p class="text-sm"><span class="font-bold">original: </span>- <%= link_to "Dev3027", "https://www.mason-roberts.dev/", target: "_blank", class: "underline" %></p>
      </div>
    </div>
    <div class="flex justify-center">
      <%= image_tag('MILK.svg', size: '178x233', class: 'mx-auto') %>
    </div>
    <div class="flex flex-col justify-between border-l-2 border-b-2 border-r-2 rounded-sm border-terminal-green">
      <div class="flex space-x-2 justify-between px-2">
        <p class="text-sm"><span class="font-bold">original: </span>- <%= link_to "Erudition", "https://erudition-saa-c02.vercel.app/", target: "_blank", class: "underline" %></p>
        <p class="text-sm"><span class="font-bold">original: </span>- <%= link_to "Hermit+", "https://www.hermitplus.com/", target: "_blank", class: "underline" %></p>
      </div>
      <div class="flex space-x-2 justify-between px-2">
        <!-- //? Give git info to page --> 
        <code class=" text-sm">
          commit: - <%= @commit_info %>
        </code>
      </div>
    </div>
  </div>
  <!-- //? Center col -->
  <div class=" flex flex-col flex-grow w-1/3 p-4 sticky top-20 h-[calc(100vh-80px)] overflow-auto scroll-mx-1">
    <!-- //? page content -->
    <div class="">
      <div class="font-mPlusCode fw-bold">
        <h4 class="py-3">Welcome to MILK,</h4>
        <p class="text-sm py-2">
          My name is Mason Roberts, Developer3027. This is my little corner of the internet. I am an automotive technician living in the Carolina’s, US. I have been studying development and software engineering for the past several years.
        </p>
        <p class="text-sm" py-2>
          This project aims to gather all my favorite projects together in one box, one container, one kist, that I can work on and enjoy.
        </p>
        <p class="text-sm py-2">
          Built in Rails, I hope you enjoy what I am building here. This is a collection of what I have learned, learning, and enjoy. I encourage you to check out the various content providers I have collected here. They are talented people working hard to teach and entertain. I need them organized a little differently. I helps me learn, helps me grow.
        </p>
        <p class="text-sm py-2">
          If you find you like what I am doing and if it helps you, consider supporting. This project is open source and all providers collected here are transparent for you. The only thing I claim as my own is the thought put into this concept. As one may gather music to enjoy later, I have collected these bright points found on the web, so I may enjoy them later.
        </p>
        <p class="text-sm py-2">
          Thank you and please enjoy.
        </p>
        <% if user_signed_in? %>
          <p class="font">Good to see you <%= current_user.name %></p>
          <%= button_to "log Out", destroy_user_session_path, method: :delete, class: "border rounded-sm border-input-border bg-input-background px-3 my-2" %>
        <% else %>
          <h3>Already a member?</h3>

          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
            <div class="field flex justify-between my-2">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border rounded-sm border-input-border bg-input-background" %>
            </div>

            <div class="field flex justify-between my-2">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "current-password", class: "border rounded-sm border-input-border bg-input-background" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field my-2">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <div class="actions flex justify-between my-2">
              <%= f.submit "Log in", class: "border rounded-sm border-input-border bg-input-background px-3 my-2" %>
              <%= link_to "Sign Up", new_user_registration_path, class: "border rounded-sm border-input-border bg-input-background px-3 my-2" %>
            </div>
          <% end %>

        <% end %>
      </div>
    </div>
    <!-- //? Mobile - Button group -->
    <div class="md:hidden flex justify-evenly flex-wrap  mt-1">
      <%= link_to "Support", "#", class: "border rounded-sm border-input-border bg-input-background px-3 my-2" %>
      <%= link_to "Providers", "#", class: "border rounded-sm border-input-border bg-input-background px-3 my-2" %>
      <%= link_to "Qualifications", "#", class: "border rounded-sm border-input-border bg-input-background px-3 my-2" %>
      <%= link_to "Hire", "#", class: "border rounded-sm border-input-border bg-input-background px-3 my-2" %>
    </div>
    <!-- //? Mobile - Project Links -->
    <div class="md:hidden text-start py-2 ">
      <h4 class="font-bold py-2">Projects:</h4>
      <p class="text-sm py-1"><span class="font-bold">Blog</span> - everyone needs a blog. I write articles on code, mostly. Used as part of erudition.</p>
      <p class="text-sm py-1"><span class="font-bold">Erudition</span> - Learning platform to help me in learning, not only development, but more.</p>
      <p class="text-sm py-1"><span class="font-bold">Hermit+</span> - Do you know the hermits of minecraft? I have gathered them together to better enjoy.</p>
      <p class="text-sm py-1"><span class="font-bold">Salt&Oak</span> - I am a Navy vet and love sailing. I miss the sea and salt. Here I collect these providers with functionality they should have.</p>
      <p class="text-sm py-1"><span class="font-bold">Thatch</span> - collection of the music I like. Little bit of spotify, little bit of soundcloud.</p>
      <p class="text-sm py-1"><span class="font-bold">Car Wash</span> - work I did as a developer for AutoBell. Created node scripts and a book keeping concept.</p>
      <h4 class="font-bold py-2">Volunteer:</h4>
      <p class="text-sm py-1"><span class="font-bold">Pet Rescue</span> - open source project that I have been assisting with. Rebuilding the style of site.</p>
    </div>
  </div>

<!-- //? Third col - Sidebar -->
<nav class="hidden md:flex flex-col w-1/3 p-4 text-center sticky top-20 h-[calc(100vh-80px)] text-terminal-green">
  <!-- //? Top design section -->
  <div class="flex justify-evenly">
    <div class="flex flex-col text-start py-1 pr-1 border-t-2 border-r-2 rounded-sm border-terminal-green">
      <p class=" text-sm"><span class="font-bold">lang: </span>- Rails 7</p>
      <p class=" text-sm"><span class="font-bold">DB: </span>- PG</p>
    </div>
    <div class="flex flex-col text-start py-1 pr-1 border-t-2 border-r-2 rounded-sm border-terminal-green">
      <p class=" text-sm"><span class="font-bold">drive C: </span>- 31%</p>
      <p class=" text-sm"><span class="font-bold">drive D: </span>- 62%</p>
    </div>
  </div>
  <!-- //? Project Links -->
  <div class="text-start py-2 ">
    <h4 class="font-bold py-2">Projects:</h4>
    <p class="text-sm py-1"><span class="font-bold">Blog</span> - everyone needs a blog. I write articles on code, mostly. Used as part of erudition.</p>
    <p class="text-sm py-1"><span class="font-bold">Erudition</span> - Learning platform to help me in learning, not only development, but more.</p>
    <p class="text-sm py-1"><span class="font-bold">Hermit+</span> - Do you know the hermits of minecraft? I have gathered them together to better enjoy.</p>
    <p class="text-sm py-1"><span class="font-bold">Salt&Oak</span> - I am a Navy vet and love sailing. I miss the sea and salt. Here I collect these providers with functionality they should have.</p>
    <p class="text-sm py-1"><span class="font-bold">Thatch</span> - collection of the music I like. Little bit of spotify, little bit of soundcloud.</p>
    <p class="text-sm py-1"><span class="font-bold">Car Wash</span> - work I did as a developer for AutoBell. Created node scripts and a book keeping concept.</p>
    <h4 class="font-bold py-2">Volunteer:</h4>
    <p class="text-sm py-1"><span class="font-bold">Pet Rescue</span> - open source project that I have been assisting with. Rebuilding the style of site.</p>
  </div>
  <!-- //? Button group -->
  <div class="flex justify-evenly flex-wrap  mt-1">
    <%= link_to "Support", "#", class: "border rounded-sm border-input-border bg-input-background px-3 my-2" %>
    <%= link_to "Providers", "#", class: "border rounded-sm border-input-border bg-input-background px-3 my-2" %>
    <%= link_to "Qualifications", "#", class: "border rounded-sm border-input-border bg-input-background px-3 my-2" %>
    <%= link_to "Hire", "#", class: "border rounded-sm border-input-border bg-input-background px-3 my-2" %>
  </div>
</nav>
</main>

