<div class="w-full mt-3">
    <% course.lessons.order(:position).each do |lesson| %>
        <% if lesson.paid %>
            <div class="border p-6 hover:bg-gray-200 ">
                <div>
                    <%= icon("fa-solid", "lock", class: "mr-2 text-gray-600") %>
                    <span class="font-light">
                        <%= lesson.title %>
                    </span>
                </div>
            </div>
        <% else %>
            <%= link_to course_lesson_path(course, lesson) do %>
                <div class="flex border p-6 hover:bg-sky-100 <%= @lesson.id == lesson.id ? 'bg-yellow-100' : '' %>">
                    <%= image_tag lesson.lesson_image, class: "w-20" %>
                    <div class="flex-col justify-between items-center h-20">
                        <div class="flex justify-end">
                            <%= completed_lessons&.include?(lesson.id) ? icon('fa-solid', 'check-circle', class: "mr-2 text-green-500") : nil %>
                        </div>
                        <div class="flex justify-start px-1 py-2">
                            <span class="font-light"><%= lesson.title %></span>
                        </div>
                        <div class="flex justify-start px-1">
                            <span class="font-light"><em><%= lesson.provider %></em></span>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    <% end %>
</div>
