  <div id="<%= dom_id erudition %>">
    <p class="my-5">
      <strong class="block font-medium mb-1">Title:</strong>
      <%= erudition.title %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Description:</strong>
      <%= erudition.description %>
    </p>

    <% if action_name != "show" %>
      <%= link_to "Show this erudition", erudition, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to "Edit this erudition", edit_erudition_path(erudition), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      <hr class="mt-6">
    <% end %>
  </div>
