
<div id="<%= dom_id category %>" class="flex flex-col justify-center items-center border-2 border-red-400">
  <h2 class="my-5 font-bold text-xl">
    <%= category.name %>
  </h2>

  <div class="flex flex-wrap justify-evenly">
      <% category.blog_posts.each do |blog_post| %>
          <div class="flex flex-col m-5 p-2 rounded-md w-96 border border-input-background-100 bg-slate-50">
              <% if blog_post.cover_image.present? %>
                  <%= image_tag blog_post.cover_image, class: "rounded h-48 object-cover", alt: "cover image for the article" %>
              <% end %>
              <%= link_to blog_post do %>
                  <h2 class="font-bold py-2"><%= blog_post.title %></h2>
                  <div class="flex justify-between py-1 px-2">
                      <span class="font-medium text-slate-700"><%= "Author: #{blog_post.user.name}" %></span>
                      <span class="font-medium text-slate-700"><%= "Category: #{blog_post.category.name}" %></span>
                  </div>
                  <p class="pb-3"><%= blog_post.content.to_plain_text.truncate_words(30) %></p>
                  <% if blog_post.draft? %>
                      <div class="text-terminal-green-100 rounded bg-red-950 p-2 w-full text-center">Draft</div>
                  <% elsif blog_post.scheduled? %>
                      <div class="text-terminal-green-100 rounded bg-sky-950 p-2 w-full text-center">Scheduled</div>
                  <% end %>
              <% end %>
          </div>
      <% end %>
  </div>

  <% if action_name != "show" %>
    <%= link_to "Show this category", category, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this category", edit_category_path(category), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
