<div id="<%= dom_id course %>">
  <div class="flex p-1">
    <div class="flex justify-center items-center px-3">
      <%= course.id %>
    </div>
    <% if course.course_image.present? %>
      <%= image_tag course.course_image, class: "w-28" %>
    <% else %>
      <%= image_tag("https://via.placeholder.com/300x300", class: "w-28") %>
    <% end %>
    <div class="flex justify-center items-center px-3" >
      <%= course.title %>
    </div>
    <div class="flex justify-center items-center px-3" >
      <%= course.lessons.count %> lessons
    </div>
    <div class="flex flex-col justify-center items-center gap-1">
      <%= link_to edit_admin_course_path(course) do %>
        <div class="flex justify-evenly py-1 px-3 w-32 border border-slate-600 rounded bg-sky-200">
          <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
          </svg>
          <span class="ps-1">Edit</span>
        </div>
      <% end %>
      <%= link_to admin_course_lessons_path(course) do %>
        <div class="flex justify-evenly py-1 px-3 w-32 border border-slate-600 rounded bg-sky-200">
          <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 19V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v13H7a2 2 0 0 0-2 2Zm0 0a2 2 0 0 0 2 2h12M9 3v14m7 0v4"/>
          </svg>
          <span class="ps-1">Lessons</span>
        </div>
    </div>
    <% end %>
  </div>
</div>
